{
  "rules": {
    "indent": ["error", 2],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "semi": [
      "error",
      "always"
    ]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}